<div class="depots">
  <mat-table [dataSource]="depots" class="mat-elevation-z8">
    <ng-container matColumnDef="depot">
      <mat-header-cell *matHeaderCellDef> Depot </mat-header-cell>
      <mat-cell *matCellDef="let depot"> {{ depot.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="half-shares">
      <mat-header-cell *matHeaderCellDef> Halbe Anteile </mat-header-cell>
      <mat-cell *matCellDef="let depot"> {{ depot.halfShares }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="full-shares">
      <mat-header-cell *matHeaderCellDef> Ganze Anteile </mat-header-cell>
      <mat-cell *matCellDef="let depot"> {{ depot.fullShares }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persons">
      <mat-header-cell *matHeaderCellDef> Personen </mat-header-cell>
      <mat-cell *matCellDef="let depot"> {{ depot.persons }} </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>

<router-outlet/>
